

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



a {
    color: #28a4c9;
}

p { 
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-bottom: 2.0rem;
    margin-top: 0;
}
#footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.profile-card__title {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.profile-card__subtitle {
    margin-top: 0;
    color: #28a4c9;
}

.home-page {
    width: 80%;
    margin: 0 auto; 
}
.profile-card__details{
    margin-top: 2%;
}

.home-page__about {
  margin-bottom: 2rem;
  text-align: center;
  width: 50%;
  margin: auto;
}

#icons
{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: 30%;
}

.icons-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.icons-list__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 33.33%;
  -moz-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  font-size: 1.9rem;
  line-height: 1.9rem;
  list-style: none;
  margin: 0 0 2.5rem;
  padding: 0; }
  .icons-list__item a {
    color: #373737; }
    .icons-list__item a:hover {
      color: #28a4c9;
      text-decoration: none; }
  .icons-list__item i {
    margin-right: .5rem; }

@media (max-width: 800px) {
  .icons-list__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 0 1.5rem; 
  } 
}
.icons-list--two .icons-list__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; 
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.body
{   
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: 816px;
	
}

.logo
{
    display: block;
    margin: 0 auto;
}

 .my-row
 {
     margin-bottom: 2%;
 }






